<form (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username: </label>
    <input
      id="username"
      name="username"
      [(ngModel)]="userDto.username"
      required
      placeholder="Enter username"
    />
  </div>

  <div>
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="userDto.password"
      required
      placeholder="Enter password"
    />
  </div>

  <button type="submit" [disabled]="!userDto.username || !userDto.password">Login</button>
  @if (error) {
    <div class="error">{{ error }}</div>
  }
</form>